# Directories to ignore
/.idea/
/.vagrant/
/bin/
/build/
/vendor/
/venv/
utils/target/
classsynopses/
methodsynopses/

# Files to ignore
/cassandra.log
/tmp/*
*.ac
.phpunit.result.cache
*.dep
./ext/cmake_build/
.idea/
cmake_build/
cmake-build-debug/
cmake-build-release/
build-release/
build-debug/
debug-build/
build-release/